@{
    ViewData["Title"] = "Home Page";
}



<div id="carouselExampleControls" class="carousel slide col-12 " data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./imagens/nambik_lavando roupa.png" class="d-block w-100" alt="..."height="500px"></div>
          <div class="carousel-item">
            <img src="./imagens/imagem 2.jpeg" class="d-block w-100" alt="..."height="500px">
          </div>
          <div class="carousel-item">
            <img src="./imagens/imagem 3.jpg" class="d-block w-100" alt="..."height="500px">
          </div>
          <div class="carousel-item">
            <img src="./imagens//imagem 1.jpg" class="d-block w-100" alt="..."height="500px">
          
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
      <br>
      <div><h4 class="text-center"> NÓS APOIAMOS OS POVOS INDÍGENAS DA AMAZÔNIA!</h4></div>
      <br><br><br><br><br><br>


      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="./imagens/visibilidade.jpeg" class="card-img-top" alt="..."height="">
            <div class="card-body">
              <h5 class="card-title">Visibilidade</h5>
              <p class="card-text">Percebemos que a situação dos povos indígenas da Amazônia não é de conhecimento de todos, 
                  e nosso objetivo é dar visibilidade,fazer com que a informação chegue ao máximo de pessoas possível.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="./imagens/info-logo.jpg" class="card-img-top" alt="..." height="">
            <div class="card-body">
              <h5 class="card-title">Informação</h5>
              <p class="card-text">Acreditamos que a partir da informação, podemos fazer com que mais pessoas se mobilizem em prol 
                  das causas indígenas, e assim fortalecer cada vez mais suas reivindicações.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="./imagens/apoio.jpg" class="card-img-top" alt="..." width="100px" height="">
            <div class="card-body">
              <h5 class="card-title">Apoio</h5>
              <p class="card-text">Além disso podemos ajudá-los, através de ongs, doações ou serviços voluntários.
                  Todo o qualquer apoio é bem vindo.</p>
            </div>
          </div>
        </div>
    
      </div>