<br><br><br><br>

  <img src="~/imagens/mapabr.jpg" alt="">
  <br><br><br>
<div>
  <h3 class="text-center">TERRITÓRIOS E POPULAÇÕES INDÍGENAS</h3>
  <p class="text-center">A Amazônia brasileira é uma área com uma extensão de aproximadamente 5,2 milhões de Km² que
    corresponde a 61% do território nacional. <br>
    A maior parte das Terras Indígenas estão concentradas nesta região. São em torno de 110 milhões de hectares onde
    vivem 60% da população indígena do país, estimada em aproximadamente 440 mil pessoas, que falam mais de 160 línguas
    diferentes.<br>

    Nesse imenso território, vivem ao menos 180 povos indígenas distintos, além de grupos considerados “isolados”.
    <br>Em toda a Amazônia Legal, existem cerca de 114 registros da presença desses indígenas que optaram por viver de
    forma livre e autônoma, sem contato com a sociedade envolvente.<br>

    Porém, a maior floresta tropical do planeta, e nossas terras indígenas, estão cada vez mais ameaçadas pelo
    desmatamento e pela cobiça de madeireiros, garimpeiros, pecuaristas e <br>investidores do agronegócio. Muitas
    regiões são de difícil acesso e as políticas públicas raramente chegam até as populações mais afastadas.
  </p>
  </div>