<br><br>
      <div><h4> Veja as principais notícias sobre a população indígena:</h4></div>

      <div class="card" style="width: 40rem;">
        <img src="~/imagens/noticia 1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">POVOS INDÍGENAS NA AMAZÔNIA</h5>
          <p class="card-text">A Amazônia ocupa quase 50% do território nacional. A maior parte da formação florestal do bioma é de terras baixas: florestas úmidas, com chuvas o ano todo, e florestas estacionais, nas quais falta umidade em um período do ano.</p>
          <a href="https://mirim.org/pt-br/node/16368"target="_blank" class="btn btn-primary">Ver Mais</a>
        </div>
      </div>

      <div class="card" style=" width: 40rem;">
        <img src="~/imagens/noticia 2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Greenpeace viabiliza ajuda emergencial para populações indígenas na Amazônia</h5>
          <p class="card-text">Através do projeto Asas da Emergência, organização transporta profissionais e equipamentos de saúde com o propósito de diminuir impactos da pandemia em áreas mais remotas.</p>
          <a href="https://www.greenpeace.org/brasil/blog/greenpeace-viabiliza-ajuda-emergencial-para-populacoes-indigenas-na-amazonia/"target="_blank" class="btn btn-primary">Ver Mais</a>
        </div>
      </div>

      <div class="card" style="width: 40rem;">
        <img src="~/imagens/noticia 3.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Negligência do Estado através de dados</h5>
          <p class="card-text">Entenda as principais ameaças aos povos indígenas e ao futuro do planeta.</p>
          <a href="https://apiboficial.org/alerta-congresso-2/"target="_blank" class="btn btn-primary">Ver Mais</a>
        </div>
      </div>