<div>
        <br><br>

        <h4 class="text-center">VENHA CONOSCO FAZER PARTE DE UM MUNDO COM MENOS EXCLUSÃO E MAIS DIGNIDADE PARA OS POVOS INDÍGENAS.<br>
          Conheça alguns de nossos parceiros...
      </h4>
      <br><br><br>

      <div class="card mb-3" style="max-width: 800px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="~/imagens/recode parceiros.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Recode</h5>
              <p class="card-text">Conheça histórias de transformação e o impacto social do nosso trabalho...</p>
              <br>
              <a href="https://recode.org.br/"target="_blank" class="btn btn-primary">Ver Mais</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 800px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="~/imagens/instituto alok.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Instituto Alok</h5>
              <p class="card-text">O Instituto Alok é uma associação sem fins de lucro criada pelo dj e produtor musical Alok para o investimento social.</p>
              <br>
              <a  href="https://institutoalok.org/"target="_blank"class="btn btn-primary">Ver Mais</a>
            </div>
          </div>
        </div>
      </div>