
      <div>
        <br><br>
        <h3 class="text-center" >TABA DIGITAL</h3>

        <p class="text-center">A TABA DIGITAL tem o propósito de dar visibilidade às necessidade dos povos indígenas da Amazônia.<br>
          Através do nosso site conectamos povos indígenas da Amazônia,público em geral e voluntários.<br><br><br>
          
          

        VENHA CONOSCO FAZER PARTE DE UM MUNDO COM MENOS EXCLUSÃO E MAIS DIGNIDADE PARA OS POVOS INDÍGENAS...<br>
          Entre em contato com a gente! </p> 
          <br><br><br>

          <div class="col-11 m-auto  text-center ">
            <h6 class="text-center">Contato</h6>
          
          <img src="~/imagens/whatsapp-logo-icone.png"style=" padding: height: 60px;width: 70px";>
          <img src="~/imagens/imagemail.png"style=" padding: height: 60px;width: 70px";>
        </div>


       

      </div><br><br><br>